* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    text-decoration: none;
    list-style: none;


}

body {
    background-color: white;
    /* overflow: hidden; */
}

header {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 0 8px #000;


}

.logo {
    color: aqua;
    font-size: 35px;
    font-weight: bold;
}

.logo span {
    text-shadow: 0 0 4px black;

}

.humburger {
    display: none;

}

.menuBar ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.menuBar ul li a {
    margin: 0 10px;
    text-transform: capitalize;
    transition: 0.8s;
    display: block;
    color: aqua;



}

.menuBar ul li a:hover {
    color:black;
    border-bottom: 2px solid #fff;
   
}
.container {
    width:95%;
    margin: auto;
    overflow: hidden;
    box-shadow: 2px 10px 5px black;
    margin-top: 10px;
    background-color: rgb(141, 231, 231);
    display: flex;
    justify-content: space-between;

}

.main {
    /* padding: 40px 0; */
}

.main h1 {
    color:aqua;
    text-shadow: 0 0 5px black;
    /* text-align: center; */
    transition: 1.8s;
    margin-left: 10px;
    text-align: center;
}
.main h1:hover{
    color: black;
    text-shadow: 0 0 8px aqua;
}

form {
    max-width: 300px;
    /* margin: 0 auto; */
    margin-left: 10px;

    
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #696666;
    border-radius: 20px;
    resize: none;
}

button {
    background-color:rgb(13, 13, 173);
    color:white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 1.8s;
}

button:hover {
    background-color:black;
    color:aqua ;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* add a media query  */

@media(max-width:420px){
    header {
        padding: 0 10px;

    }

    .humburger {
        display: block;
        cursor: pointer;

    }

    .humburger i {
        color:aqua;
        font-size: 20px;


    }

    .menuBar.menuBar.active {
        height: 400px;
        right: 0;

    }

    .menuBar {
        position: absolute;
        top: 40px;
        left: -100;
        right: -100%;
        width: 80vw;
        background:rgb(173, 172, 166) ;
        transition: 1s;
        height: 0;
        overflow: hidden;
        z-index: 1000;
        



    }

    .menuBar ul {
        display: block;
        width: fit-content;
        margin: 40px auto;
        text-align: center;
        transition: 1s;
        opacity: 0;

    }

    .menuBar.active ul {
        opacity: 1;
    }

    .menuBar ul li a {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 16px;
    }
    .container{
        display: flex;
        justify-content: center;
        width: 100%;

    }
}