* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    text-decoration: none;
    list-style: none;


}

body {
    background-color: white;
    /* overflow: hidden; */
}

header {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 0 8px #000;


}

.logo {
    color: aqua;
    font-size: 35px;
    font-weight: bold;
}

.logo span {
    text-shadow: 0 0 4px black;

}

.humburger {
    display: none;

}

.menuBar ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.menuBar ul li a {
    margin: 0 10px;
    text-transform: capitalize;
    transition: 0.8s;
    display: block;
    color: aqua;



}

.menuBar ul li a:hover {
    color:black;
    border-bottom: 2px solid #fff;
   

}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-shadow: 0 0 5px black;
    color: aqua;
    transition: 0.8;
    font-size: 1.5rem;
    font-weight: 100;
    transition: 1.8s;

}
.head:hover{
    color: black;
    text-shadow: 0 0 5px aqua;
}
#container{
    width: 100%;
    height: 100%;
    /* background-color: ; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;

}
#container .item{
    background-color:aqua;
    height: 340px;
    border-radius: 20px;
    transition: 1.8s;
} 
#container .item:hover{
    /* border:2px solid black ; */
    box-shadow: 0 0 8px black;
}
.item img{
    width: 100%;
    height: 300px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

   

}
.details{
    display: flex;
    justify-content: space-between;
    align-items: end;



}
.details h4{
    text-transform: capitalize;
    margin-left: 5px;

}
.details button{
    color: #fff;
    background: rgba(0, 0, 255, 0.657);
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-right: 5px;
    transition: 1s;
    
}
.details button:hover{
    transform: scale(1.111);
    background: blue;
}
/* -----footer-----*/
.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    height: 200px;
    background-color: black;
    color: aqua;
    /* bottom: 10px; */ 
    /* position: fixed;  */
}
.footer-text p{
    margin-top: 10px;
}
.icon{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    transition: 1.8s;
}
/* add a media query  */

@media(max-width:420px){
    header {
        padding: 0 10px;

    }

    .humburger {
        display: block;
        cursor: pointer;

    }

    .humburger i {
        color:aqua;
        font-size: 20px;


    }

    .menuBar.menuBar.active {
        height: 400px;
        right: 0;

    }

    .menuBar {
        position: absolute;
        top: 40px;
        left: -100;
        right: -100%;
        width: 80vw;
        background:rgb(173, 172, 166) ;
        transition: 1s;
        height: 0;
        overflow: hidden;
        z-index: 1000;
        



    }

    .menuBar ul {
        display: block;
        width: fit-content;
        margin: 40px auto;
        text-align: center;
        transition: 1s;
        opacity: 0;

    }

    .menuBar.active ul {
        opacity: 1;
    }

    .menuBar ul li a {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 16px;
    }
    #container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 7px;
        align-items: center;
        text-align: center;
        overflow: hidden;


    }
    .footer{
        width: 100%;
        height: 300px;
       display: grid;
       grid-template-columns: repeat(2 , 1fr);
      /* align-items: center; */
      padding: 5px;
      /* position: fixed; */
  
  
      }
      .footer-text p{
          margin-top: 10px;
      }
}
